@model MantenimientoEscolarCliente.Models.UsuarioLogin

<h2>Iniciar Sesión</h2>

<form asp-action="Index" method="post">
    <div class="form-group">
        <label asp-for="Correo"></label>
        <input asp-for="Correo" class="form-control" />
        <span asp-validation-for="Correo" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Entrar</button>
</form>
